RewriteEngine On

# Redirige el acceso a la raíz a /login/
RewriteRule ^$ /login/ [L,R=301]

# Redirige index.php a /login/
RewriteRule ^index\.php$ /login/ [L,R=301]

# Redirige /index a la raíz de la carpeta
RewriteRule ^(.*)/index$ /$1/ [L,R=301]

# Eliminar la extensión .php para archivos existentes
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^.]+)$ $1.php [L]

# Redirigir externamente las solicitudes .php a URL sin extensión
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?/] [NC]
RewriteRule ^ /%1 [R=302,L,NE]

# Si accedes a /index, se redirige a /
RewriteRule ^index$ / [R=302,L]

<IfModule mod_expires.c>
    ExpiresActive On
    # Imágenes
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    # Añade aquí otros tipos de imagen si es necesario
</IfModule>