RewriteEngine On

# Redirige el acceso a la raíz a /login/
RewriteRule ^$ /login/ [L,R=301]

# Redirige index.php a /login/
RewriteRule ^index\.php$ /login/ [L,R=301]

# Eliminar la extensión .php
# Internamente reescribe las solicitudes sin la extensión .php a los archivos .php correspondientes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/$ $1.php [L]

# Redirigir externamente las solicitudes .php a URL sin extensión
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.+)\.php\ HTTP/
RewriteRule ^(.+)\.php$ /$1/ [L,R=301]